<!-- <h1><strong>{{libreria}}</strong></h1>


<button type="button" (click)="cambiarNombre()" class="btn btn-success">Cambiar nombre</button> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../../../assets/img/logo.png"
                alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            GymTech
        </a>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/login">Iniciar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

